@source "node_modules/react-lib-tools";

@import "tailwindcss";
@import "react-lib-tools/styles.css";

@theme {
  --color-background-gradient-1: var(--color-fuchsia-500);
  --color-background-gradient-2: var(--color-violet-500);
  --color-background-gradient-3: var(--color-fuchsia-700);
  --color-common-question-header: var(--color-fuchsia-300);
  --color-focus-1: var(--color-sky-300);
  --color-focus-2: var(--color-sky-400);
  --color-focus-3: var(--color-sky-600);
}
