.ResizeHandle,
.ResizeHandleCollapsed {
  width: 0.25rem;
  transition: 250ms linear background-color;
  background-color: var(--color-button-background);
  outline: none;
}
.ResizeHandle:hover,
.ResizeHandle[data-resize-handle-active],
.ResizeHandleCollapsed:hover,
.ResizeHandleCollapsed[data-resize-handle-active] {
  background-color: var(--color-brand);
}
.ResizeHandleCollapsed {
  background-color: var(--color-button-background-hover);
}

@media (pointer: coarse) {
  .ResizeHandle,
  .ResizeHandleCollapsed {
    width: 1rem;
  }
}

.IDE {
  background-color: var(--color-panel-background);
  border-radius: 0.5rem;
}

.Toolbar {
  width: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-button-background);
  padding-top: 0.5rem;
}

.ToolbarIcon,
.ToolbarIconActive {
  flex: 0 0 2.5rem !important;
  width: 3rem !important;
  height: 2.5rem !important;
  padding: 0 0.75rem;
}
.ToolbarIcon {
  color: var(--color-dim);
}
.ToolbarIconActive {
  color: var(--color-default);
  border-left: 2px solid var(--color-default);
}

.FileList {
  flex: 1 1 auto;

  font-size: 1rem;
  font-family: monospace;
  white-space: pre;

  container-type: inline-size;
  container-name: filelist;
}

.SourceIcon {
}

.DirectoryEntry,
.FileEntry {
  display: flex;
  align-items: center;
  padding-left: 1ch;
  gap: 1ch;
  height: 1.5em;
}

.FileEntry {
  padding-left: 3ch;
  cursor: pointer;
  transition: 250ms linear background-color;
}
.FileEntry:hover,
.FileEntry[data-current] {
  background-color: var(--color-button-background);
}
.FileIcon {
  flex: 0 0 3ch;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-brand);
  font-weight: bold;
  font-size: 0.75em;
}

@container filelist (max-width: 50px) {
  .FileList .DirectoryEntry,
  .FileList .FileEntry {
    padding-left: 0;
    justify-content: center;
  }

  .FileList .DirectoryName,
  .FileList .FileName {
    display: none;
  }
}

.SourceTabs {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-color: var(--color-button-background);
}

.SourceTab {
  flex: 0 0 auto;
  padding: 0.5rem 1ch;
  gap: 1ch;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background-color: var(--color-panel-background);
  border-right: 1px solid var(--color-background-default);
  cursor: pointer;
}
.SourceTab[data-current] {
  background-color: var(--color-background-code);
}

.CloseButton {
  cursor: pointer;
  background: none;
  padding: 0.25em;
  border-radius: 0.25em;
  outline: none;
  border: none;
}
.CloseButton:hover {
  background-color: var(--color-button-background);
}
.CloseIcon {
  height: 0.75rem !important;
  width: 0.75rem !important;
  color: var(--color-default);
}
