.Route {
  padding: 2rem;
  overflow-x: hidden;
  max-width: 1024px;
  margin: 0 auto;
}

.ExampleContainer {
  margin: 2rem 0;
}

.Code {
  display: block;
  white-space: pre;
  padding: 1rem;
  border-radius: 1rem;
}
