.PanelGroupWrapper {
  height: 15rem;
}

.PanelGroup {
  font-size: 5rem;
}

.Panel {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
}

.PanelContent {
  height: 100%;
  width: 100%;
  background-color: var(--color-panel-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
}

.ResizeHandle {
  flex: 0 0 2rem !important;
}
