.tok-comment {
  color: var(--token-comment-color);
}
.tok-definition {
  color: var(--token-definition-color);
}
.tok-local {
  color: var(--token-local-color);
}
.tok-keyword {
  color: var(--token-keyword-color);
}
.tok-meta {
  color: var(--token-meta-color);
}
.tok-number {
  color: var(--token-number-color);
}
.tok-operator {
  color: var(--token-operator-color);
}
.tok-propertyName {
  color: var(--token-propertyName-color);
}
.tok-punctuation {
  color: var(--token-punctuation-color);
}
.tok-string {
  color: var(--token-string-color);
}
.tok-string2 {
  color: var(--token-string2-color);
}
.tok-typeName {
  color: var(--token-typeName-color);
}
.tok-variableName:not(.tok-definition) {
  color: var(--token-variableName-color);
}
.tok-variableName2 {
  color: var(--token-variableName2-color);
}
