:root {
  --color-background-code: #050a15;
  --color-background-default: #081120;
  --color-brand: #dcadff;
  --color-button-background: #2a3343;
  --color-button-background-hover: #39414d;
  --color-button-border: #18181a;
  --color-code: #dcadff;
  --color-default: #ffffff;
  --color-dim: #91a0ba;
  --color-horizontal-rule: #39414d;
  --color-input: #ffffff;
  --color-input-background: #18181a;
  --color-input-border: #39414d;
  --color-input-border-focused: #dcadff;
  --color-link: #dcadff;
  --color-panel-background: #192230;
  --color-panel-background-alternate: #202124;
  --color-solid-resize-bar: #39414d;
  --color-scroll-thumb: #39414d;
  --color-warning-background: #7400cc;

  --color-logo-background: #2a3343;
  --color-logo-chip-1: #dcadff;
  --color-logo-chip-2: #ff79ad;
  --color-logo-chip-3: #ffdc7a;
  --color-logo-chip-4: #7ac1ff;

  --token-comment-color: #666;
  --token-definition-color: #fefefe;
  --token-local-color: #fefefe;
  --token-keyword-color: #ff7aad;
  --token-meta-color: #8237bb;
  --token-number-color: #ffdc7a;
  --token-operator-color: #fefefe;
  --token-propertyName-color: #ff98eb;
  --token-punctuation-color: #dcadff;
  --token-string-color: #7ac1ff;
  --token-string2-color: #7ac1ff;
  --token-typeName-color: #c67bff;
  --token-variableName-color: #c67bff;
  --token-variableName2-color: #c67bff;
}

:root,
html,
body,
#root {
  padding: 0;
  margin: 0;

  background-color: var(--color-background-default);
  color: var(--color-default);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

* {
  box-sizing: border-box;
  line-height: 1.5em;
}

p {
  margin: 0.5rem 0;
}

code {
  color: var(--color-code);
  background-color: var(--color-background-code);
  font-family: monospace;
  padding: 0 0.25em;
  border-radius: 0.25em;
}

h2 {
  font-weight: normal;
  margin: 0.5rem 0;
}

a {
  color: var(--color-link);
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 0.75rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background: var(--color-scroll-thumb);
}
