:root {
  --color-background-code: #050a15;
  --color-background-default: #081120;
  --color-button-background: #2a3343;
  --color-button-background-hover: #39414d;
  --color-button-border: #18181a;
  --color-code: #c67bff;
  --color-default: #ffffff;
  --color-horizontal-rule: #39414d;
  --color-link: #dcadff;
  --color-panel-background: #192230;
  --color-panel-background-alternate: #202124;
  --color-solid-resize-bar: #39414d;
  --color-scroll-thumb: #39414d;
}

:root,
html,
body,
#root {
  padding: 0;
  margin: 0;

  background-color: var(--color-background-default);
  color: var(--color-default);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

* {
  box-sizing: border-box;
  line-height: 1.5em;
}

p {
  margin: 0.5rem 0;
}

code {
  color: var(--color-code);
  background-color: var(--color-background-code);
  padding: 0 0.25em;
  border-radius: 0.25em;
}

h2 {
  font-weight: normal;
  margin: 0.5rem 0;
}

a {
  color: var(--color-link);
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 0.75rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background: var(--color-scroll-thumb);
}
