:root {
  --color-background-code: rgba(0, 0, 0, 0.35);
  --color-background-default: #081120;
  --color-button-background: #2a3343;
  --color-button-background-hover: #454950;
  --color-button-border: #18181a;
  --color-code: #c67bff;
  --color-default: #ffffff;
  --color-horizontal-rule: #454950;
  --color-link: #dcadff;
  --color-panel-background: #192230;
  --color-panel-background-alternate: #202124;
  --color-solid-resize-bar: #454950;
  --color-solid-resize-bar-handle: rgba(255, 255, 255, 0.2);
}

:root,
html,
body,
#root {
  padding: 0;
  margin: 0;

  background-color: var(--color-background-default);
  color: var(--color-default);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  line-height: 1.5em;
}

p {
  margin: 0.5rem 0;
}

code {
  color: var(--color-code);
  background-color: var(--color-background-code);
  padding: 0 0.25em;
  border-radius: 0.25em;
}

h2 {
  font-weight: normal;
  margin: 0.5rem 0;
}

a {
  color: var(--color-link);
}
