.VisibleCursor {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border: 2px dashed #ffffffaa;
  border-radius: 1rem;
  margin-left: -1rem;
  margin-top: -1rem;
  transition: border 250ms;
  background-color: #00000044;
}
.VisibleCursor[data-state="down"] {
  border: 2px solid #ff0000;
}
.VisibleCursor[data-state="up"] {
}
