.FullHeightAndWidth {
  width: calc(100vw - 1rem);
  height: calc(100vh - 1rem);
  margin: 0.5rem;

  --color-horizontal: #192230;
  --color-vertical: #202124;
}

.Grower {
  width: 100%;
  height: 100%;
}

.HorizontalFiller,
.HorizontalFillerLeft,
.HorizontalFillerRight,
.VerticalFillerBottom,
.VerticalFillerTop {
  height: 100%;
  width: 100%;
  background-color: #192230;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.HorizontalFiller {
  border-radius: 0.5rem;
}
.VerticalFillerTop {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.VerticalFillerBottom {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.PanelRow {
  display: flex;
  flex-direction: row;
}
.PanelColumn {
  display: flex;
  flex-direction: column;
}

.HorizontalResizeHandle {
  padding: 0 0.25rem;
}

.VerticalResizeBar {
  height: 3px;
  width: 100%;
  background-color: #2b2b2b;
  border-bottom: 1px solid #4a4c50;
  border-top: 1px solid #4a4c50;
}

.Button {
  color: #ffffff;
  background: #2a3343;
  border: 1px solid #18181a;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.Button:hover {
  background: #454950;
}

.ParagraphOfText {
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
}

.HorizontalDot,
.VerticalDot {
  margin-left: 1ch;
  display: inline-block;
  height: 1ch;
  width: 1ch;
  border-radius: 1ch;
}
.HorizontalDot {
  background-color: var(--color-horizontal);
}
.VerticalDot {
  background-color: var(--color-vertical);
}
