name: "Tests: E2E"
on: [pull_request]
jobs:
  tests_e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install dependencies
        run: pnpm install --frozen-lockfile --recursive
      - name: Install Playwright dependencies
        run: npx playwright install
      - name: Build NPM package
        run: pnpm prerelease
      - name: Run Playwright tests
        run: cd packages/react-resizable-panels-website && pnpm test:e2e
